body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/litoralpacifico.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

form {
    background-repeat: no-repeat;
    padding: 5px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 32%;
    margin: auto;
    }

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #283629;
    font-size: 35px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}

input::placeholder {
    color: #2f8133;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.botons {
    width: auto;
    font-size: 10px;
    color: #1d1d1b;
    border: 0;
    border-radius: 25px;
    background-color: #1d70b7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.botons:hover {
    background-color: #1d70b7;
}

@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #be5757;
    border-radius: 5px;
}

.form-txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.botons {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1d70b7;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.botons:hover {
    background-color: #1d70b7;
}